extends ./layout/layout

block variables
  - var metaTitle = 'Travel Landing Page'

block content
  section.showcase
    header
      h2.logo Travel
      .toggle
    video(src='../assets/videos/main.mp4' muted='' loop='' autoplay='')
    .overlay
    .text
      h2 Never Stop
      h3 Exploring The World
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto culpa repellat nulla assumenda sunt possimus consectetur ullam architecto, sequi expedita!
      a(href='#') Explore
    ul.social
      li
        a(href='#')
          img(src='../assets/images/facebook.png' alt='')
      li
        a(href='#')
          img(src='../assets/images/twitter.png' alt='')
      li
        a(href='#')
          img(src='../assets/images/instagram.png' alt='')
  .menu
    ul
      li
        a(href='#') Home
      li
        a(href='#') News
      li
        a(href='#') Destinations
      li
        a(href='#') Blog
      li
        a(href='#') Contact