section.showcase
  .showcase-inner


    video(src='../assets/videos/main.mp4' muted='' loop='' autoplay='')

    
    .overlay


    .showcase-inner-content

      header
        h2.logo
          a(href='/') Travel
        .toggle

      .text
        h2 Never Stop
        h3 Exploring The World
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto culpa repellat nulla assumenda sunt possimus consectetur ullam architecto, sequi expedita!
        a(href='#') Explore

      ul.social
        li
          a(href='#')
            img(src='../assets/images/facebook.png' alt='')
        li
          a(href='#')
            img(src='../assets/images/twitter.png' alt='')
        li
          a(href='#')
            img(src='../assets/images/instagram.png' alt='')