.menu
  position: absolute
  top: 0
  right: -400px
  width: 400px
  height: 100%
  min-height: 300px
  display: flex
  // align-items: center
  align-items: flex-start
  // justify-content: center
  justify-content: flex-start
  transition: .5s
  padding: 60px

  &.active
    right: 0

  ul
    // position: relative
    position: fixed
    top: 60px
    list-style: none

    li a
      font-size: 24px
      color: $main-dark-color
      transition: .2s

      &:hover
        color: $overlay-color


@media(max-width: 767.98px)
  .menu
    right: -350px
    width: 350px

@media(max-width: 349.98px)
  .menu
    width: 100vw
