block variables

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title #{metaTitle + (metaPage ? ' | ' + metaPage : '')}

    block stylesOverridden
    link(rel='stylesheet' href='/css/style.css')
    block styles


  body

    .content
      .content-main
        block content

      include ./menu

    block scriptsOverridden
    script(src='/js/script.js')
    block scripts
      
